@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap');

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
  }
}

@layer components {
  .title {
    position: relative;
    color: #01353E;
    font-family: Raleway;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 0.6px;
    text-align: center;
    text-transform: uppercase;
  }

  .title::after {
    color: #00B2A0;
    font-family: Raleway;
    font-size: 50px;
    position: absolute;   
    content: "/";
  }
  
  .description {
    color: #242121;
    font-family: Roboto Condensed;
    font-size: 10px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.6px;
  }
}