@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap");

@layer base {
	html,
	body,
	#root {
		height: 100%;
		width: 100%;
	}
}

@layer components {
	.title {
		position: relative;
		font-family: Raleway;
		font-size: 25px;
		font-weight: 800;
		letter-spacing: 0.6px;
		text-align: center;
		text-transform: uppercase;
		@apply text-sky-900;
	}

	.title::after {
		font-family: Raleway;
		font-size: 30px;
		position: absolute;
		content: "/";
		@apply text-teal-400;
	}

	.description {
		font-family: Roboto Condensed;
		font-size: 15px;
		font-weight: normal;
		line-height: 18px;
		letter-spacing: 0.6px;
		word-break: break-all;
		@apply text-zinc-900;
	}

	@media (prefers-color-scheme: dark) {
		.title {
			@apply text-teal-400;
		}

		.description {
			@apply text-sky-400;
		}
		.title::after {
			@apply text-amber-400;
		}
	}

	@media (min-width: 768px) {
		.title {
			font-size: 45px;
		}

		.title::after {
			font-size: 50px;
		}
	}
}
